<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <style>
      h1 {
        text-align: center;
        color: purple;
      }
    </style>
    <script>
      console.log('about')
    </script>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/contact">contact</a></li>
      </ul>
    </nav>
    <h1>About!!!</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quam
      eius, reiciendis amet odit quas quibusdam officia labore facilis
      doloremque, sapiente natus dolorem provident tenetur voluptatibus,
      inventore vitae aut ullam!
    </p>
  </body>
</html>
